@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.searchBox {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #1162d4;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 60%;
  background: #10294d;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 10px;
  width: 0px;
}
